h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.5em;
  color: #003463;
}

h2 {
  color: #009BE3;
  font-size: 2.5em;
}

h3 {
  color: #D62703;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  color: #F29D00;
  font-weight: bold;
}

.box {
  float: left;
  width: 50px;
  height: 50px;
  margin: 13px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.dark {
  background: #003463;
}

.light {
  background: #009BE3;
}

.red {
  background: #D62703;
}

.yellow {
  background: #F29D00;
}

.cream {
  background: #FFF9E9;
}
